<%- include ("../../partials/header") %>

<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de administrador</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" type="email" name="email" id="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" type="password" name="password" id="password" placeholder="*******"><br>
                <input type="submit" class="btn btn-success" value="Fazer login">
            </form>
        </div>
    </div>
</div>

<%- include ("../../partials/footer") %>